  @import url('https://fonts.googleapis.com/css2?family=Poppins');

  * {
      font-family: 'Poppins', sans-serif;
      padding    : 0;
      margin     : 0;
  }

  body {
      height: 100vh;
      width : auto;
  }

  body::-webkit-scrollbar {
      /*background: black;*/
      width     : 0;
      background: transparent;
  }

  header {
      background: dimgray;
      height    : auto;
      width     : auto;
      padding   : 1em;
      color     : wheat;

  }

  nav {
      background     : lightgrey;
      display        : flex;
      justify-content: space-between;
      align-items    : center;
  }

  nav>a {
      text-decoration: none;
      font-weight    : bold;
      font-size      : 1.5em;
      padding        : .5em;
  }

  nav ul {
      list-style     : none;
      display        : flex;
      justify-content: space-between;
      align-items    : center;
      gap            : 1em;
      padding        : 1em;
  }

  nav ul li a {
      text-decoration: none;
  }

  .sticky {
      position: fixed;
      top     : 0;
      width   : 100%;
  }

  section {
      padding: 1em;
      height : 100vh;
      width  : auto;
  }