@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
    margin     : 0;
    padding    : 0;
    transition : .3s ease;
}

body {
    height         : 100vh;
    width          : 100vw;
    position       : relative;
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;
}

.wrapper {
    height       : auto;
    width        : 20em;
    box-shadow   : 0 0 3px black;
    padding      : 3em;
    border-radius: .7em;
    position     : relative;
    display      : grid;
    align-items  : center;
    grid-gap     : 1em;
    transition   : .3s ease;
}

.wrapper>a:nth-child(1) {
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-weight    : bold;
    position       : absolute;
    top            : .3em;
    right          : .3em;
    font-size      : 2em;
    height         : 50px;
    width          : 50px;
    text-align     : center;
    text-decoration: none;
    color          : black;
    border-radius  : .3em;
}

.wrapper>a:nth-child(1):hover {
    background-color: #ce0606;
    color           : white;
}

.wrapper #reg {
    text-align     : center;
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    text-decoration: none;
    color          : #000;
    font-weight    : bold;
    letter-spacing : 1.5px;
    position       : relative;
}


.wrapper p {
    font-weight   : bold;
    font-size     : 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.wrapper .inps {
    margin-top: 1em;
    display   : grid;
    position  : relative;
}

.wrapper .inps label {
    position      : absolute;
    top           : .7em;
    left          : 0em;
    text-indent   : .7em;
    pointer-events: none;
    font-weight   : bold;
    color         : dimgray;
    letter-spacing: 2px;
}

.wrapper .inps i {
    position        : absolute;
    bottom          : .2em;
    right           : .1em;
    padding         : .7em;
    cursor          : pointer;
    border-radius   : .5em;
    background-color: white;
}


.wrapper .inps input {
    border       : none;
    padding      : .5em;
    font-size    : 16px;
    outline      : none;
    font-weight  : 600;
    border-radius: .4em;
    border       : 2px solid lightgray;
}


.wrapper .inps #btnLogin {
    padding         : 0;
    cursor          : pointer;
    background-color: dimgray;
    border          : none;
    padding         : .2em;
    letter-spacing  : 2px;
    color           : #fff;
}

.wrapper .inps #btnLogin:hover {
    background-color: lightgray;
    color           : #0009;
}

.wrapper .inps :is(input:focus ~ label, input:valid~label) {
    top             : -.7em;
    left            : .5em;
    text-indent     : 0;
    color           : black;
    font-size       : .9em;
    background-color: white;
    padding         : 0;
}

.wrapper .inps :is(input:focus, input:valid) {
    border: 2px solid black;
}

@media (max-width:720px) {
    .wrapper {
        width : 90%;
        height: auto;
        margin: 1em;
    }
}